* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.content {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    padding: 0 15px;
}

h1 {
    margin: 60px 0;
    padding: 0;
    font-size: 50px;
    text-align: center;
}

p {
    margin: 0 0 30px 0;
    font-size: 30px;
    line-height: 1.5;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
