/*
    GENERAL
 */

img {
    max-width: 100%;
}

.terminal {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 280px;
    height: 150px;
    background: #360028;
    opacity: 0.6;
    z-index: 99999;
    overflow: hidden;
    border-radius: 5px;
    padding: 5px;
}

.terminal #cmds {
    color: #fff;
    font-size: 13px;
    min-height: 145px;
    position: absolute;
    bottom: 0;
    margin: 0;
}

.terminal p {
    margin: 0;
}

#weapons_list {
    position: absolute;
    left: 30px;
    bottom: 30px;
    z-index: 99999;
}

#weapons_list ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#weapons_list ul li {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    margin-right: 5px;
}

#weapons_list ul li img{
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 5px;
}


/*
    HERO STYLE
 */

#hero {
    position: absolute;
    width: 80px;
    z-index: 9999;
    left: 45%;
    bottom: 60px;
    opacity: 0.9;
}

.laser, .exir, .enemy {
    position: absolute;
}

/*
    HERO ANIMATION
 */

.hero-go-left {
    transform: rotate(-15deg);
}

.hero-go-right {
    transform: rotate(15deg);
}

/*
ANIMATIONS
 */

.tada-animation {
    animation: tadaFrames linear 1s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
}

@keyframes tadaFrames {
    0% {
        transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
    }
    10% {
        transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    20% {
        transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
    }
    30% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    40% {
        transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    50% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    60% {
        transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    70% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    80% {
        transform: rotate(-3deg) scaleX(1.20) scaleY(1.20);
    }
    90% {
        transform: rotate(3deg) scaleX(1.20) scaleY(1.20);
    }
    100% {
        transform: rotate(0deg) scaleX(1.20) scaleY(1.20);
    }
}

.woble-animation {
    animation: wobleFrames linear 1s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
}

@keyframes wobleFrames {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    15% {
        transform: translate(-25px, 0px) rotate(-5deg);
    }
    30% {
        transform: translate(20px, 0px) rotate(3deg);
    }
    45% {
        transform: translate(-15px, 0px) rotate(-3deg);
    }
    60% {
        transform: translate(10px, 0px) rotate(2deg);
    }
    75% {
        transform: translate(-5px, 0px) rotate(-1deg);
    }
    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}

.shake-animation {
    animation: shakeFrames linear 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
}

@keyframes shakeFrames {
    0% {
        transform: translate(0px, 0px);
    }
    10% {
        transform: translate(-10px, 0px);
    }
    20% {
        transform: translate(10px, 0px);
    }
    30% {
        transform: translate(-10px, 0px);
    }
    40% {
        transform: translate(10px, 0px);
    }
    50% {
        transform: translate(-10px, 0px);
    }
    60% {
        transform: translate(10px, 0px);
    }
    70% {
        transform: translate(-10px, 0px);
    }
    80% {
        transform: translate(10px, 0px);
    }
    90% {
        transform: translate(-10px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.bounce-animation {
    animation: bounceFrames linear 0.8s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
}

@keyframes bounceFrames {
    0% {
        transform: translate(0px, 0px);
    }
    15% {
        transform: translate(0px, -25px);
    }
    30% {
        transform: translate(0px, 0px);
    }
    45% {
        transform: translate(0px, -15px);
    }
    60% {
        transform: translate(0px, 0px);
    }
    75% {
        transform: translate(0px, -5px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

/*
    ENEMY
 */
.explode {
    position: absolute;
    width: 64px;
    height: 64px;
    margin-top: -32px;
    margin-left: -32px;
    background-image: url(../images/effects/explode.png);
    background-repeat: no-repeat;
    background-position: 64px 0;
    -webkit-transform: scale(2);
    transform: scale(2);
}

.explode_ignite {
    -webkit-animation: ignite 0.5s steps(25) 0s 1 normal forwards running;
    animation: ignite 0.5s steps(25) 0s 1 normal forwards running;
}

@-webkit-keyframes ignite {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1600px 0;
    }
}

@keyframes ignite {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1600px 0;
    }
}



