/*
    GENERAL
 */

img {
    max-width: 100%;
}

#score {
    position: absolute;
    left: 40px;
    top: 60px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}
#player-name{
  position: absolute;
  left: 30px;
  top: 30px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

#hearts {
    position: absolute;
    right: 20px;
    top: 20px;
}

.heart {
    font-size: 50px;
    color: #a51919;
    display: inline-block;
    margin-left: 5px;
}

.terminal {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 280px;
    height: 150px;
    background: #360028;
    opacity: 0.6;
    z-index: 99999;
    overflow: hidden;
    border-radius: 5px;
    padding: 5px;
}

.terminal #cmds {
    color: #fff;
    font-size: 13px;
    min-height: 145px;
    position: absolute;
    bottom: 0;
    margin: 0;
}

.terminal p {
    margin: 0;
}

.terminal .white {
    color: #fff;
}

.terminal .red {
    color: #ff3d3d;
}

.terminal .green {
    color: #00ff2f
}

#weapons_list {
    position: absolute;
    left: 30px;
    bottom: 30px;
    z-index: 99999;
}

#weapons_list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#weapons_list ul li {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    margin-right: 5px;
    padding-bottom: 5px;
}

#weapons_list ul li.current {
    border-bottom: 2px solid #fff;
}

#weapons_list ul li img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 5px;
}

#pause {
    display: none;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;
    z-index: 999999;

    background: #1b181a url("../images/backgrounds/classic-pause.png") no-repeat center center;
    color: #fff;
}

#pause .pausetext {
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
}


#levelinfo {
    display: none;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;
    z-index: 999999;

    background: #1b181a url("../images/backgrounds/happy-penguin.png") no-repeat center 100px;
    color: #fff;
}

#levelinfo .leveltext {
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center;
}


/*
    HERO STYLE
 */

#hero {
    position: absolute;
    width: 80px;
    z-index: 9999;
    left: 45%;
    bottom: 60px;
    opacity: 0.9;
}
.protected {    
}

.laser, .exir, .enemy {
    position: absolute;
}

/*
    HERO ANIMATION
 */

.hero-go-left {
    transform: rotate(-15deg);
}

.hero-go-right {
    transform: rotate(15deg);
}

.monster-rotate {

    -webkit-animation: spin 0.5s linear infinite;
    -moz-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotateY(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotateY(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes bounceFrames {
    0% {
        transform: translate(0px, 0px);
    }
    15% {
        transform: translate(0px, -25px);
    }
    30% {
        transform: translate(0px, 0px);
    }
    45% {
        transform: translate(0px, -15px);
    }
    60% {
        transform: translate(0px, 0px);
    }
    75% {
        transform: translate(0px, -5px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

/*
    ENEMY
 */
.explode {
    position: absolute;
    width: 64px;
    height: 64px;
    margin-top: -32px;
    margin-left: -32px;
    background-image: url(../images/effects/explode.png);
    background-repeat: no-repeat;
    background-position: 64px 0;
    -webkit-transform: scale(2);
    transform: scale(2);
}

.explode_ignite {
    -webkit-animation: ignite 0.5s steps(25) 0s 1 normal forwards running;
    animation: ignite 0.5s steps(25) 0s 1 normal forwards running;
}

@-webkit-keyframes ignite {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1600px 0;
    }
}

@keyframes ignite {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1600px 0;
    }
}

.explode_404 {
    position: absolute;
    width: 64px;
    height: 64px;
    margin-top: -32px;
    margin-left: -32px;
    background-image: url(../images/effects/404.png);
    background-repeat: no-repeat;
    background-position: 64px 0;
    -webkit-transform: scale(2);
    transform: scale(2);
}

.explode_404_ignite {
    animation: ignite_404 2s steps(25) 0s 1 normal forwards running;
    animation-iteration-count: infinite;
}

@keyframes ignite_404 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -320px 0;
    }
}
